<section class="experiences" id="experience">
    <div class="experiences-body">
      <h2 class="experiences-title">Experiencia</h2>
      <div class="experiences-grid">
        <div class="empty"></div>
        <div class="line"></div>
        <div class="experience">
          <div class="experience-modifier">
            <a href="." class="experience-edit">
            <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="experience edit"></a>
            <a href="." class="experience-delete">
              <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="experecience delete"></a>
          </div>
          <div class="experience-date">2021-2022</div>
          <div class="experience-company">Minecraft Server</div>
          <div class="experience-position">Scripter</div>
          <div class="experience-description">
            Desarrollo de la interfaz y sistemas para un servidor. Usamos
            JavaScript, Java, TypeScript.
          </div>
        </div>
        <div class="experience experience_left">
          <div class="experienceleft-modifier">
            <a href="." class="experienceleft-edit">
            <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="experienceleft edit"></a>
            <a href="." class="experienceleft-delete">
              <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="experecienceleft delete"></a>
          </div>
          <div class="experience-date">2022-2023</div>
          <div class="experience-company">Servidor MTA</div>
          <div class="experience-position">Scripter</div>
          <div class="experience-description">
            Creación de scripts y sistemas. Utilicé el lenguaje Lua para implementar actualizaciones de
             scripts y modificar texturas y modelos.
          </div>
        </div>
      </div>
    </div>
  </section>