<section class="experiences" id="experience">
    <div class="experiences-body">
      <h2 class="experiences-title">Experiencia</h2>
      <div class="experiences-grid">
        <div class="empty"></div>
        <div class="line"></div>
        <div class="experience">
          <div class="experience-modifier">
            <a href="." class="experience-edit">
            <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="experience edit"></a>
            <a href="." class="experience-delete">
              <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="experecience delete"></a>
          </div>
          <div class="experience-date">{{miPortfolio.experiencedate}}</div>
          <div class="experience-company">{{miPortfolio.experiencecompany}}</div>
          <div class="experience-position">{{miPortfolio.experienceposition}}</div>
          <div class="experience-description">
            {{miPortfolio.experiencedescription}}
          </div>
        </div>
        <div class="experience experience_left">
          <div class="experienceleft-modifier">
            <a href="." class="experienceleft-edit">
            <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="experienceleft edit"></a>
            <a href="." class="experienceleft-delete">
              <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="experecienceleft delete"></a>
          </div>
          <div class="experience-date">{{miPortfolio.experienceleftdate}}</div>
          <div class="experience-company">{{miPortfolio.experienceleftcompany}}</div>
          <div class="experience-position">{{miPortfolio.experienceleftposition}}</div>
          <div class="experience-description">
            {{miPortfolio.experienceleftdescription}}
          </div>
        </div>
      </div>
    </div>
  </section>