<div class="horizontal-padding vertical-padding">
    <section class="skills" id="skills">
      <div class="skills-modifier">
        <a href="." class="skills-edit">
        <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="skills edit"></a>
        <a href="." class="skills-delete">
          <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="skills delete"></a>
      </div>
      <h2 class="skills-title">Habilidades</h2>
      <ul class="skills-list">
        <li class="skills-skill">CSS</li>
        <li class="skills-skill">HTML</li>
        <li class="skills-skill">Java</li>
        <li class="skills-skill">Java Web</li>
        <li class="skills-skill">TypeScript</li>
        <li class="skills-skill">JavaScript</li>
      </ul>
    </section>
  </div>