<div class="horizontal-padding vertical-padding">
    <section class="skills" id="skills">
      <div class="skills-modifier">
        <a href="." class="skills-edit">
        <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="skills edit"></a>
        <a href="." class="skills-delete">
          <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="skills delete"></a>
      </div>
      <h2 class="skills-title">Habilidades</h2>
      <ul class="skills-list">
        <li class="skills-skill">{{miPortfolio.habilidad}}</li>
        <li class="skills-skill">{{miPortfolio.habilidad1}}</li>
        <li class="skills-skill">{{miPortfolio.habilidad2}}</li>
        <li class="skills-skill">{{miPortfolio.habilidad3}}</li>
        <li class="skills-skill">{{miPortfolio.habilidad4}}</li>
        <li class="skills-skill">{{miPortfolio.habilidad5}}</li>
      </ul>
    </section>
  </div>