<div class="proyectos" id="proyectos">
    <h2 class="proyectos-title">Proyectos</h2>
    <div class="proyectos-contenedor">
      <div class="proyectos-modifier">
        <a href="." class="proyectos-edit">
        <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="proyectos edit"></a>
        <a href="." class="proyectos-delete">
          <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="proyectos delete"></a>
      </div>
      <div class="proyectos-subtitle">{{miPortfolio.proyectossubtitle}}</div>
      <div class="proyectos-date">{{miPortfolio.proyectosdate}}</div>
      <div class="proyectos-funcion">{{miPortfolio.proyectosfuncion}}</div>
      <div class="proyectos-description">{{miPortfolio.proyectosdescription}}</div>
      <div class="proyectos-imagenes">{{miPortfolio.proyectosimagenes}}</div>      
    </div>
  </div>