<div class="proyectos" id="proyectos">
    <h2 class="proyectos-title">Proyectos</h2>
    <div class="proyectos-contenedor">
      <div class="proyectos-modifier">
        <a href="." class="proyectos-edit">
        <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="proyectos edit"></a>
        <a href="." class="proyectos-delete">
          <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="proyectos delete"></a>
      </div>
      <div class="proyectos-subtitle">Página de roleplay</div>
      <div class="proyectos-date">2023</div>
      <div class="proyectos-funcion">Desarrollador</div>
      <div class="proyectos-description">El proyecto consiste en una página a modelo de video juego,
        destinada a la función del Rol & Roleplay, como si de un juego de mesa se tratase.</div>
      <div class="proyectos-imagenes">Link: N/A</div>      
    </div>
  </div>