<div class="estudios">
  <div class="estudios-modifier">
    <a href="." class="estudios-edit">
    <img src="https://i.ibb.co/z6kHwgp/editar.png" alt="estudios edit"></a>
    <a href="." class="estudios-delete">
    <img src="https://i.ibb.co/KL6Kr02/eliminar.png" alt="estudios delete"></a>
  </div>
  <h2 class="estudios-title">Educación</h2>
  <div class="estudios-cuadro">
    <div class="estudios-date">{{miPortfolio.estudiosdate}}</div>
    <div class="estudios-company">{{miPortfolio.estudioscompany}}</div>
    <div class="estudios-subtitle">{{miPortfolio.estudiossubtitle}}</div>
    <div class="estudios-description">{{miPortfolio.estudiosdescription}}</div>
  </div>
</div>